<div id="documentation" class="container-fluid text-center bg-grey">
		<br> <br> <br>
		<h2 class="headsup">DOCUMENTATION</h2>
		<br>
		<div class="w3-container">
			<div class="w3-center">
				<p class="detailfont-small">API Documentation</p>
			</div>
			<div class="w3-responsive w3-card-4">
				<table class="w3-table w3-striped w3-bordered">
					<thead>
						<tr class="w3-theme">
							<th width="12%">Documentation</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody class="w3-white">
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.41.220/restapi/pv-rest-api.html#/"
								target="_blank"><img src="../images/pathview-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>						
							<td><b>Pathview REST API</b> documention containing GUI and
								Authentication in YAML format</td>
						</tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.41.220/restapi/pt-rest-api.html#/"
								target="_blank"><img src="../images/pathtrace-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>Pathtrace REST API</b> documentation containing GUI, AGENT
								and Authentication in YAML format</td>
						</tr>
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.41.220/restapi/infoview-rest.html#/"
								target="_blank"><img src="../images/pathview-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>Pathview Infoview REST</b> API documentation in YAML format</td>
						</tr>
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.41.220/restapi/pv-aots-rest.html#/
								target="_blank"><img src="../images/pathview-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>Pathview AOTS REST API</b> documentation in YAML format</td>
						</tr>
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.41.220/restapi/IPManagementREST-API.html#/"
								target="_blank"><img src="../images/pathview-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>IPManagementDB REST API</b> documentation in YAML format</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br>
		
		<div class="w3-container">
			<div class="w3-center">
				<p class="detailfont-small">ARCHITECTURE Documentation</p>
			</div>
			<div class="w3-responsive w3-card-4">
				<table class="w3-table w3-striped w3-bordered">
					<thead>
						<tr class="w3-theme">
							<th width="12%">Documentation</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody class="w3-white">
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.52.223/restapi/pv-rest-api.html#/"
								target="_blank"><img src="../images/pathview-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>						
							<td><b>Pathview</b> architectural diagram</td>
						</tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.52.223/restapi/pathview.html#/"
								target="_blank"><img src="../images/logan-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>LOGAN</b> architectural diagram</td>
						</tr>
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.52.223/restapi/pathview.html#/"
								target="_blank"><img src="../images/nextgems.PNG" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>nextGEMS</b> architectural diagram</td>
						</tr>
						<tr>
						<tr class="w3-custom">
							<td><a href="http://135.89.52.223/restapi/pathview.html#/"
								target="_blank"><img src="../images/pathtrace-new.png" class="w3-circle" style="height: 40px; width: 40px" alt="No image"></a></td>
							<td><b>Pathtrace</b> architectural diagram</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<br>
		
		